@import url('https://fonts.google.apis.com/css?family=Source+Sans+Pro'); 
* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    font-size: 20px;
}

.navbar {    
    position: relative;    
}

@supports (position: sticky) {
    .navbar  {
      position: sticky;
      top: 0;
      display: flex;    
      justify-content: space-between;
      align-items: center;
      background-color: #333;
      color: white;
    }
}

.brand-title {
    font-size: 1.5rem;
    margin: .5rem;
}

#navbar-links {
    height: 100%;
}

#navbar-links ul {
    display: flex;
    margin: 0;
    padding: 0;
}

#navbar-links li {
    list-style: none;
}

.brand-title a, #navbar-links li a {
    display: block;
    text-decoration: none;
    color: white;
    padding: 1rem;
}

#navbar-links li:hover {
    background-color: #555;
}

.toggle-button{
    position: absolute;
    top: .75rem;
    right: 1rem;
    display: none;
    flex-direction: column;
    justify-content: space-between;
    width: 30px;
    height: 21px;
}

.toggle-button .bar{
    height: 3px;
    width: 100%;
    background-color: white;
    border-radius: 10px;
}


.center {
    margin: auto;
    width: 50%;
    /*
    border: 3px solid green;
    */
    padding: 10px;
    text-align: center;    
    font-family: 'Source Sans Pro', sans-serif ;
    font-size: 20px;
  }

  button{
    font-family: 'Source Sans Pro', sans-serif ;
    font-size: 20px;
    margin: 30px 0;
  }

.ins{
      margin: 5% 0;
      font-size: 25px;
  }

img{
    max-width:80%;
    height: auto;
}

@media (max-width: 640px) {
    .brand-title, #navbar-links{
        font-size: 1rem;
    }
}

/*
@media (max-width: 640px) {
    .toggle-button {
      display: flex;      
    }

    #navbar-links{
        display: none;
        width: 100%;
    }

    .navbar{
        flex-direction: column;
        align-items:flex-start;
    }

    #navbar-links ul{
        width: 100%;        
        flex-direction: column;
    }

    #navbar-links li{              
       text-align: center;
    }

    #navbar-links li a{              
        padding: .5rem 1rem;
    }

    #navbar-links.active{
        display:flex;
    }
}
*/

@media (max-width: 375px) {
    button{
      font-size: 10px;      
    }
}